* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    background:#f1f5f8;
    color: black;
    line-height: 1.5;
    font-size: 0.875rem; 
    justify-content: center;
}

/* header,nav */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    font-weight: 500;
    font-size: 20px;
    color: black;
    background-color: rgba(205, 233, 255, 0.794);
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 5px 5px #88888870;
}

li, a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #00bfff;
}
.logo{
    margin-right: auto;
    cursor: pointer;
}

.nav-links {
    list-style: none;
} 

.nav-links li {
    display: inline-block;
    padding: 0 30px;
}

/* container,main */

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
   
}

.container {
    text-align: center;
}

.container h2 {
    background: black;
    color: white;
    padding: 1rem;
    margin-bottom: 2.5rem;
    border-radius: 5%;
}

h2 {
    font-size: 2rem;
    letter-spacing: 10px;
}
.color {
    color:  #4682B4;
}

h2{
    color: white;
    font-size: 2rem;
}

/* button */
.btn-hero {
    border-radius: 10%;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border-color: black;
}

.btn:hover {
    transition: 0.5s ease;
    background-color: #4682B4;
}

@media screen and (max-width: 800px) {
    h2 {
        letter-spacing: 10px;
    }
}